* {
  margin: 0;
  padding: 0; }

a.navbar-brand {
  text-align: center;
  white-space: normal;
  word-break: break-all; }

/* Provide sufficient contrast against white background */
a {
  color: #0366d6; }

.btn-primary {
  color: #fff;
  border-color: #1861ac;
  background-color: #1b6ec2; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  border-color: #1861ac;
  background-color: #1b6ec2; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px; }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

button.accept-policy {
  font-size: 1rem;
  line-height: inherit; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

.content__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #36393f;
  flex-grow: 1; }
  @media screen and (min-width: 1200px) {
    .content__container {
      position: absolute;
      top: 50px;
      left: 19vw;
      width: calc(100% - 19vw);
      height: calc(100% - 50px); } }

.main__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #36393f; }

.menu__container {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #202225; }

.menu__button {
  border: 0;
  background: none;
  font-size: 1.618rem;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white; }
  @media screen and (min-width: 1200px) {
    .menu__button {
      display: none !important; } }

.menu__friend-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 1200px) {
    .menu__friend-name {
      display: block !important; } }

.side-menu__container {
  position: fixed;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100% - 50px);
  background-color: #2f3136; }
  @media screen and (min-width: 1200px) {
    .side-menu__container {
      display: flex !important;
      width: 19vw; } }

.search-friends__input {
  width: 90%;
  height: auto;
  color: white;
  border-radius: 5px;
  align-self: center; }

.settings__container {
  font-size: 1.618rem;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between; }

.add-friend__button,
.settings__button,
.logout__button {
  border: 0;
  background: none;
  cursor: pointer;
  align-self: center; }

.add-friend__button,
.settings__button {
  font-size: 1.618rem;
  color: white; }

.emojis__container {
  font-size: 1.618rem;
  position: absolute;
  right: 50%;
  bottom: 20%;
  display: none;
  overflow: auto;
  width: 90%;
  height: 30%;
  transform: translateX(50%);
  border-radius: 12px;
  background-color: #2f3136; }
  .emojis__container.active {
    display: flex;
    flex-direction: column; }
  .emojis__container button {
    border: 0;
    background: none; }
  @media screen and (min-width: 992px) {
    .emojis__container {
      right: 4%;
      width: 40%;
      height: 30%;
      transform: translateX(0); } }

.emojis-types__container {
  display: flex; }

.emoji-type__button {
  border: 0;
  background: none; }
  .emoji-type__button_active {
    background-color: #747579 !important; }

.emojis {
  flex-grow: 1; }

.friends__container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  flex-grow: 1; }
  .friends__container::-webkit-scrollbar {
    display: none; }

.friend__details {
  border: 0;
  background: none;
  display: flex;
  cursor: pointer; }

.friend__image {
  width: 15%;
  height: auto;
  align-self: center; }
  @media screen and (min-width: 1200px) {
    .friend__image {
      width: 21%;
      height: auto; } }

.friend__name {
  font-size: 1rem;
  align-self: center; }

.friend__request {
  font-size: 1rem;
  display: flex; }

.friend__reject-request,
.friend__accept-request {
  font-size: 1rem;
  cursor: pointer; }

.interaction-menu__container {
  display: none;
  height: auto;
  max-height: 58px;
  margin-right: 2%;
  margin-left: 2%;
  flex-grow: 1; }
  .interaction-menu__container.active {
    display: flex; }

.input-to-send-messages {
  height: auto;
  resize: none;
  color: white;
  border-radius: 8px;
  background-color: #484c52;
  flex-grow: 1; }
  .input-to-send-messages::-webkit-scrollbar {
    display: none; }

.start-recording-voice-message__button {
  border: 0;
  background: none;
  font-size: 1.618rem; }

.send-message__button {
  border: 0;
  background: none;
  font-size: 1.618rem; }

.display-emojis__button {
  border: 0;
  background: none;
  font-size: 1.618rem; }

.messages__container {
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 96%;
  margin-top: 50px;
  flex-grow: 1; }
  .messages__container::-webkit-scrollbar {
    display: none; }
  @media screen and (min-width: 1200px) {
    .messages__container {
      margin-top: 0; } }

.message {
  display: flex;
  margin-left: 2%; }

.information-about-the-message__container {
  display: flex; }

.message__profile-picture {
  width: 13%;
  height: auto;
  align-self: flex-start;
  justify-self: center; }
  @media screen and (min-width: 1200px) {
    .message__profile-picture {
      width: 5%; } }

.message__date-sended {
  font-size: 1rem;
  color: #9da3a8; }

.message__text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.message-settings__button {
  border: 0;
  background: none;
  font-size: 1rem;
  color: #dbdcdd; }

.message-content__container {
  font-size: 1rem; }

.message-dropdown-menu {
  background-color: #484c52; }
  .message-dropdown-menu button:hover {
    background-color: #484c52 !important; }

.edit-message__input {
  width: 100%;
  min-height: 100px;
  color: white;
  border-radius: 8px;
  background-color: #40444b; }

.save-edit-message__button,
.cancel-edit-message__button {
  border: 0;
  background: none;
  color: #4671c1; }

.voice-message {
  width: 100%;
  max-width: 320px; }

.voice-message__container {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  display: none;
  width: 96%;
  height: 100px;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: white;
  justify-content: center; }
  .voice-message__container.active {
    display: flex; }
  .voice-message__container div {
    font-size: 1.618rem;
    font-weight: bold;
    overflow: hidden;
    align-self: center; }
  .voice-message__container span {
    position: relative; }
  .voice-message__container span::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    animation: dots 2s steps(3, start) infinite;
    background-color: white; }
  @media screen and (min-width: 1200px) {
    .voice-message__container {
      width: 40%; } }

@keyframes dots {
  to {
    right: -100%; } }

.stop-recording-voice-message__button {
  border: 0;
  background: none;
  font-size: 1rem;
  align-self: center; }
