<div class="main__container">
    <div class="side-menu__container">

        <i class="fas fa-bars side-menu__button mb-3"></i>

        <div class="friends-profiles__container">
            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>

            <div class="friend-profile__container text-white">
                <img src="~/images/avatar.png" class="avatar img-fluid rounded-circle mb-5" />
                <h4 class="ml-3 mt-4">szefnudy</h4>
            </div>
        </div>

    </div>

    <div class="content__container">

        <div class="messages__container">
            <h1>asdasdasd</h1>
        </div>

        <div class="input-to-send-messages__container mb-2 mt-1">
            <textarea class="input-to-send-messages"></textarea>
        </div>


    </div>
</div>

<script type="module" src="~/js/index.js"></script>