<div class="main__container ">
    <div class="menu__container">
        <i class="fas fa-bars ml-3 menu__button"></i>
        <h4 class="text-white ml-3 menu__friend-name">szefnudy</h4>
    </div>

    <div class="content__container">

        <div class="messages__container">
            <h1>asdasdasd</h1>
        </div>

        <div class="input-to-send-messages__container mb-2 mt-1">
            <textarea class="input-to-send-messages"></textarea>
        </div>


    </div>

</div>

<div class="side-menu__container d-none">  
    
</div>  

<script type="module" src="~/js/index.js"></script>