.emojis__container {
    @include themed() {
        background-color: t('bg-emojis-container');
    }

    font-size: font-scale(2);
    position: absolute;
    right: 50%;
    bottom: 20%;
    display: none;
    overflow: auto;
    width: 90%;
    height: 30%;
    transform: translateX(50%);
    border-radius: 12px;

    &.active {
        display: flex;
        flex-direction: column;
    }

    & button {
        @include reset-button;
    }

    @include respond-to(large) {
        right: 4%;
        width: 40%;
        height: 30%;
        transform: translateX(0);
    }
}

.emojis-types__container {
    display: flex;
}

.emoji-type__button {
    @include reset-button;

    &_active {
        background-color: #747579 !important;
    }
}

.emojis {
    flex-grow: 1;
}

.original-emoji-type__button{
    @include themed(){
        color: t('text');
    }
}
