.friends__container {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 1;

    &::-webkit-scrollbar {
        display: none;
    }
}

.friend__details {
    @include reset-button;
    display: flex;
    cursor: pointer;
}


.friend__image {
    width: 15%;
    height: auto;
    align-self: center;

    @include respond-to(extra-large) {
        width: 21%;
        height: auto;
    }
}

.friend__name {
    @include themed(){
        color: t('text');
    }

    font-size: font-scale(1);
    align-self: center;
}

.friend__request {
    display: flex;
}

.friend__reject-request,
.friend__accept-request {
    font-size: font-scale(2);
    cursor: pointer;
}