.voice-message__container {
    @include center-absolute;
    z-index: 2;
    display: none;
    width: 96%;
    height: 100px;
    border-radius: 12px;
    background-color: white;
    justify-content: center;

    &.active {
        display: flex;
    }

    & div {
        font-size: font-scale(2);
        font-weight: bold;
        overflow: hidden;
        align-self: center;
    }

    & span {
        position: relative;
    }

    & span::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        content: '';
        animation: dots 2s steps(3, start) infinite;
        background-color: white;
    }


    @include respond-to(extra-large) {
        width: 40%;
    }
}

@keyframes dots {
    to {
        right: -100%;
    }
}

.stop-recording-voice-message__button {
    @include reset-button;
    font-size: font-scale(3);
    align-self: center;
}
