.settings__container {
    @include themed(){
        color: t('text');
    }

    font-size: font-scale(2);
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.add-friend__button,
.settings__button,
.logout__button {
    @include reset-button;
    cursor: pointer;
    align-self: center;
}

.add-friend__button,
.settings__button {
    @include themed(){
        color: t('text');
    }

    font-size: font-scale(2);
}


