.side-menu__container {
    @include themed() {
        background-color: t('bg-side-menu-container');
    }

    position: fixed;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100% - 50px);

    @include respond-to(extra-large) {
        display: flex !important;
        width: 19vw;
    }
}

.search-friends__input {
    @include themed(){
        color: t('text');
    }

    width: 90%;
    height: auto;
    border-radius: 5px;
    align-self: center;
}