<div class="container-fluid">
    <div class="col-md-3 fixed-bottom messenger-list_container h-50 px-0 border">
        <i class="fas fa-times float-right mx-2 my-1 messenger__hide-list_btn"></i>
        <div class="col pt-3 border-bottom messenger_logged-user">
            <div class="d-flex">
                <img src="~/images/avatar.png" class="rounded-circle mr-2" height="30" width="30" />
                <div class="d-flex mt-1">
                    <p>bezi</p>
                    <i class="fas fa-circle pl-1 text-success" style="font-size: 8px;"></i>                   
                </div>
            </div>
        </div>
        <div class="container mt-2 messenger__search-input_container d-flex">
            <input class="form-control form-control-sm" type="text" placeholder="Search for friends" aria-label="Search">
            <i class="fas fa-user-plus messenger__add-friend_btn mt-2 ml-3"></i>
        </div>
        <div class="pre-scrollable messenger__friends_container mt-4 overflow-auto">

            <div class="col pt-3 ">
                <div class="d-flex">
                    <img src="~/images/avatar.png" class="rounded-circle mr-2" height="30" width="30" />
                    <div class="d-flex mt-1">
                        <p>bezi</p>
                        <i class="fas fa-circle pl-1 text-success" style="font-size: 8px;"></i>
                    </div>
                </div>
            </div>

            <div class="col pt-3 ">
                <div class="d-flex">
                    <img src="~/images/avatar.png" class="rounded-circle mr-2" height="30" width="30" />
                    <div class="d-flex mt-1">
                        <p>bezi</p>
                        <i class="fas fa-circle pl-1 text-muted" style="font-size: 8px;"></i>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>